.header {
    padding: 0 20%;
}

.header-block {
    display: flex;
}


.header-block .logo {
    flex: 1 250px;
}

.header-block .menu {
    flex: 1 380px;
}

.logo {
    padding: 28px 9px;
}

.menu ul {
    display: flex;
}

.menu ul li{
    list-style: none;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 300;
    padding: 50px 9px;
}



.block-about {
    padding: 88px 0px 82px 610px;
    background-image: url("/img/content_laptop-parker-byrd_1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.block-about .block-about__title {
    text-transform: uppercase;
    color: #fff;
    border-bottom: solid 1px #fff;
    font-size: 30px;
    text-align: center;
    box-sizing: border-box;
    font-weight: 600;
    max-width: 680px;
    display: inline-block;
    padding-bottom: 40px;
    line-height: 29px;
    letter-spacing: 6px;
}


